<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= funcionario.departamento.nome%>
  </p>

</div>
